<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <title>Preclinic - Medical & Hospital - Bootstrap 5 Admin Template</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/feather.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/hospital/Dashboard" class="logo">
                    <img src="/assets/img/logo.png" width="35" height="35" alt />
                    <span>Pre Clinic</span>
                </a>
            </div>
            <ul class="nav user-menu float-end">
                <li class="nav-item dropdown d-none d-md-block">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown"><img
                            src="/assets/img/icons/note-icon-02.svg" alt /><span class="pulse"></span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
                                            <span class="avatar">
                                                <img alt="John Doe" src="/assets/img/user.jpg" class="img-fluid" />
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Doe</span> added new
                                                    task
                                                    <span class="noti-title">Patient appointment booking</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown has-arrow user-profile-list">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-bs-toggle="dropdown">
                        <div class="user-names">
                            <h5>Liam Michael</h5>
                            <span>Admin</span>
                        </div>
                        <span class="user-img">
                            <img src="/assets/img/user-06.jpg" alt="Admin" />
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" href="/hospital/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="submenu">
                            <a href="#"><span class="menu-side"><img src="/assets/img/icons/menu-icon-01.svg"
                                        alt /></span>
                                <span> Dashboard </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none">
                                <li>
                                    <a href="/hospital/Dashboard">Admin Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getDoctors"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-02.svg" alt /></span>
                                <span> Doctors </span> <span class="menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getPatients"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-03.svg" alt /></span>
                                <span>Patients </span> <span class="menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getStaff"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-08.svg" alt /></span>
                                <span> Staff </span> <span class="menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getAppointments"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-04.svg" alt /></span>
                                <span> Appointments </span> <span class="menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getSchedule"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-05.svg" alt /></span>
                                <span> Doctor Schedule </span> <span class="menu-arrow"></span></a>
                        </li>
                        <li class="submenu">
                            <a href="/hospital/getDept"><span class="menu-side"><img
                                        src="/assets/img/icons/menu-icon-06.svg" alt /></span>
                                <span> Specialities </span> <span class="menu-arrow"></span></a>
                        </li>
                    </ul>
                    <div class="logout-btn">
                        <a href="/hospital/logout"><span class="menu-side"><img src="/assets/img/icons/logout.svg"
                                    alt /></span>
                            <span>Logout</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/hospital/Dashboard">Dashboard </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <i class="feather-chevron-right"></i>
                                </li>
                                <li class="breadcrumb-item active">
                                    <%= title %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="page-table-header mb-2">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <div class="doctor-table-blk">
                                                <h3>
                                                    <%= title %>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center" style="padding: 50px;">
                                        <img src="/assets/img/icons/maintenance.svg" alt="Under Construction"
                                            style="width: 100px; margin-bottom: 20px;">
                                        <h4>This feature is coming soon!</h4>
                                        <p>We are working hard to bring you the <%= title %> feature.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff></div>
    <script src="/assets/js/jquery-3.7.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/feather.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>